@font-face {
    font-family: salsaFont;
    src: url(Chivo-VariableFont_wght.ttf);
}

body {
    background: rgb(38,184,142);
    background: linear-gradient(90deg, #1f7157  0%, #57a57f 50%, #1f7157  100%);      
}

.debutant {
    background-color: #204365;
    background: linear-gradient(90deg, #202f3c 0%, #204365 50%, #202f3c 100%); 
}

.debutant .nav-top, .debutant .navigation:hover, .debutant .navigation.active {
    background-color: #6d95bb;
}

.debutant .mouv-container {
    color: #5785b1;
}

.inter {
    background-color: #4b274c;
    background: linear-gradient(90deg, #2c102f 0%, #5a2f5c 50%, #2c102f 100%); 
}

.inter .nav-top, .inter .navigation:hover, .inter .navigation.active {
    background-color: #ab7aac;
}

.inter .mouv-container {
    color: #8b4e8c;
}

.styling {
    background-color: #4b274c;
    background: linear-gradient(90deg, #20222f 0%, #615a48 50%, #20222f 100%); 
}

.styling .nav-top, .styling .navigation:hover, .styling .navigation.active {
    background-color: #aa9c76;
}

.styling .mouv-container {
    color: #aa9c76;
}

a {
    text-decoration: none;
    color:#444;
}

#container{
    max-width: 1280px;
    margin:auto;
}

#navigation-bar {
    text-align: center;
    width: 680px;
    background-color: #ffffff;
    color:#444;
    margin:20px auto;
    font-family: salsaFont, Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 7px 18px -5px rgba(0,0,0,0.5);
    border-radius: 20px;
    overflow:hidden;
}

.nav-top {
    width:100%;
    height:24px;
    background-color: #a2d3c1;
}

.navigation {
    display: inline-block;
}

.navigation a {
    display: inline-block;
    padding: 16px 20px;
    cursor:pointer;
}

.navigation:hover {
    background-color: #a2d3c1;
}

.navigation:hover a, .navigation.active a  {
    color:white;
}

.navigation.active {
    background-color: #a2d3c1;
}

.mouv-container {
    width: 640px;
    background-color: #ffffff;
    color:#478d77;
    text-align: center;
    padding: 20px;
    margin:20px auto;
    font-family: salsaFont, Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 7px 18px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.mouv-container img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin: 5px auto 15px;
}